/*Aqui agrego la fuente*/ 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*Aqui le doy formato al Body*/
body{
    background: #D6EAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.7);
    }
.container .izquierda{
    position: relative;
    background: #1B4F72;
    padding: 40px;
}

.Perfil{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255 0.2);
}
.Perfil .imgBx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.Perfil .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Perfil h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.TextoPerfil h2 span{
    font-size: .8em;
    font-weight: 300;
}

/*Aqui va enlazado el css al html para la información de contacto*/
.infocontacto{
    padding-top: 40px;
}
.titulo{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.infocontacto ul{
    position: relative;
}
.infocontacto ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
/*Aqui se le da el formato a los iconos*/
.infocontacto ul li .icono{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}
.infocontacto ul li span{
    color: #fff;
    font-weight: 300;
}

/*Aqui va enlazado el css al html para el historial academico*/
.infocontacto.historial li{
    margin-bottom: 15px;
}
.infocontacto.historial h5{
    color: #03a9f4;
    font-weight: 500;
}
.infocontacto.historial h4{
    color: #fff;
    font-weight: 400;
}

/*Aqui se agrega el enlace de idiomas al html*/
.infocontacto.idiomas .porcentuaje{
    position: relative;
    width: 100%;
    height: 6px;
    background: #f00;
    display: lock;
    margin-top: 5px;
}

.container .derecha{
    position: relative;
    background: white;
    padding: 40px;
}
.acerca{
    margin-bottom: 50px;
}
.acerca:last-child{
    margin: 0;
}
.titulo2{
    color: #21618C;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: #06121a;
}